/*font-family: 'ABeeZee', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2D3945;
}

label {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

select {
    color: rgb(154, 158, 173);
}

input[type="text"], input[type="email"], input[type="tel"] {
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #EFF0F1;
    margin-top: 5px;
    padding: 0 22px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
    outline: 2px solid #46698B;
    color: white;
    background-color: #495D70;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

input::placeholder {
    color: #ADB2B7;
}

form fieldset:first-of-type div:nth-child(-n + 3) input::placeholder {
    text-align: right;
    font-style: italic;
}

select {
    height: 50px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #EFF0F1;
    padding: 0 22px;
}

textarea {
    height: 100px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #EFF0F1;
    padding: 16px;
}

fieldset {
    border: none;
    padding: 0;
}

header {
    text-align: center;
}

header div p {
    color: #AAAFB4;
}

header hr:first-of-type {
    height: 2px;
    background-color: black;
    width: calc(100% - 30px);
    margin: 1px auto
}

header hr:last-of-type {
    height: 1px;
    background-color: black;
    width: calc(100% - 30px);
    margin: 1px auto;
}

header h2 {
    text-transform: uppercase;
    color: white;
    background-color: #2D3945;
    margin: 0;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

form hr {
    height: 1px;
    background-color: black;
}

form fieldset:last-of-type legend {
    margin-bottom: 8px;
}

form fieldset:last-of-type legend h3 {
    margin-bottom: 8px;
    text-decoration: underline;
}

form fieldset:first-of-type {

}

form fieldset:first-of-type legend {
    text-decoration: underline;
}

form fieldset:first-of-type div label {
    color: #55687A;
}

form fieldset:first-of-type div:last-child input {
    width: 50%;
}

form fieldset:last-of-type {
    color: #495D70;
}

form fieldset:last-of-type div:not(:last-of-type) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

form fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    text-align: center;
    margin-bottom: 200px;
    font-family: 'Roboto', sans-serif;
}

#submit-btn {
    width: 100%;
    background-color: #4ebbb5;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    height: 60px;
    margin: 30px auto;
}

@media screen and (min-width: 768px) {
    main, header div {
        max-width: 600px;
        margin: auto;
    }

    header hr:first-of-type {
        width: 100%;
    }

    header hr:last-of-type {
        width: 100%;
    }

    form fieldset:first-of-type div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    form fieldset:first-of-type div label, form fieldset:first-of-type div select {
        flex-basis: 200px;
    }

    form fieldset:first-of-type div input, form fieldset:first-of-type div select {
        flex-grow: 1;
    }

    form fieldset:first-of-type div:last-child input {
        width: 25%;
        flex-grow: 0;
    }

}